*{
    box-sizing: border-box;
}
.container{
    text-align: center;
    background-color: gray;
    color: aliceblue;
    padding: 30px;
}
nav{
    float: left;
    width: 30%;
    background-color: darkgrey;
    height: 300px;
    
}
article{
    float:left;
    width: 70%;
    background-color: aliceblue;
    height: 300px;
}
.footer{
    text-align: center;
    background-color: gray;
    color: aliceblue;
    padding: 20px;
}

h2{
    text-align: center;
}
p{
    padding: 15px;
}
hr{
    margin: 20px;
}